pandas                                           
numpy                                          
streamlit                                                                                  
scikit-learn                                    
sentence_transformers
transformers
better-profanity
pymupdf
gradio-client
streamlit-lottie